@import-normalize;
@tailwind base;
@tailwind components;

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  /* custom tailwind classes here */
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
