@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import-normalize;
@tailwind base;
@tailwind components;

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@layer base {
}

@layer components {
  /* custom tailwind classes here */
  .c-hover-enlarge {
    @apply hover:scale-105 duration-200 ease-in-out transition-transform;
  }

  .c-text-xl {
    @apply text-5xl font-bold text-center;
  }
  .c-text-lg {
    @apply text-5xl font-normal text-center;
  }

  .c-text-md {
    @apply text-xl font-semibold;
  }

  .c-text-sm {
    @apply text-lg text-center;
  }

  .c-btn-fill {
    @apply bg-primary text-primary-content rounded-3xl text-2xl font-light px-5 py-4 hover:bg-gray-600;
  }
  .c-btn-border {
    @apply g-transparent bg-primary-content text-primary border-primary border-4 rounded-3xl text-2xl font-light px-5 py-4 hover:bg-gray-200;
  }

  .bg-base-50 {
    @apply bg-white dark:bg-gray-700;
  }
  .text-base-50 {
    @apply text-white dark:text-gray-700;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
